.fixed-col {
    width: 100px;
    background-color: #f8f9fa;
}

.question-section {
    flex: 1;
    overflow-x: auto;
}

.table thead {
    background-color: #e9ecef;
}

.btn-xs {
    padding: 0.25rem 0.4rem;
    font-size: 0.75rem;
    line-height: 1;
    border-radius: 0.2rem;
    margin-top: -2px;
}

.question-section .table-responsive {
    /* height: 300px; */
    overflow: auto;
    position: relative;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.question-section .table-responsive thead {
    position: sticky;
    top: -1px;
    box-shadow: 0px 0px 5px black;
}

.question-section .table-responsive tfoot {
    position: sticky;
    bottom: -1px;
    box-shadow: 0px 0px 5px black;
}

.carousel-control-next,
.carousel-control-prev {
    width: 2px;
    min-width: 20px;
    background: rgba(0, 0, 0, 0.479);
}

.right-section {
    /* height: 100vh; */
    /* min-height: 700px; */
    position: sticky;
    top: 0;
    background-color: aqua;

}

.cursor-pointer {
    cursor: pointer;
}

* {
    font-size: small;
}


/******************Second  ********************/
#sliderCarousel {
    /* height: calc(100vh - 41.5px); */
    overflow: scroll;
}


.tool-box:hover {
    background-color: #f8f9fa;
}

/* * {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32'><circle cx='16' cy='16' r='10' fill='red'/></svg>") 16 16, auto;
} */

/* Bootstrap SVG Icons as Cursors */
/*
body.add-marks-cursor,
* {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='black' viewBox='0 0 16 16'%3E%3Cpath d='M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14z'/%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E") 16 16, auto;
}

body.mark-correct-cursor,
* {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='green' viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.354 9.354l4-4a.5.5 0 1 0-.708-.708L6 8.293 4.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z'/%3E%3C/svg%3E") 16 16, auto;
}

body.mark-incorrect-cursor,
* {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='red' viewBox='0 0 16 16'%3E%3Cpath d='M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zM4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E") 16 16, auto;
}
*/
/* body.pencil-tool-cursor,
* {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='gray' viewBox='0 0 16 16'%3E%3Cpath d='M12.146.854a.5.5 0 0 1 .708 0l2.292 2.292a.5.5 0 0 1 0 .708l-9.5 9.5a.5.5 0 0 1-.168.11l-4 1.5a.5.5 0 0 1-.65-.65l1.5-4a.5.5 0 0 1 .11-.168l9.5-9.5zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zM10.5 3.207 2 11.707V13h1.293l8.5-8.5-1.293-1.293z'/%3E%3C/svg%3E") 0 16, auto;
} */
/*
body.text-tool-cursor,
* {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='black' viewBox='0 0 16 16'%3E%3Cpath d='M2 2.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1H9v11.5a.5.5 0 0 1-1 0V3H2.5a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E") 0 16, auto;
}

body.draw-line-cursor,
* {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='black' viewBox='0 0 16 16'%3E%3Cpath d='M13.5 2.5a.5.5 0 0 1 0 .707L2.707 14H2v-.707L12.793 2.5a.5.5 0 0 1 .707 0z'/%3E%3C/svg%3E") 16 16, auto;
}

body.draw-box-cursor,
* {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='black' viewBox='0 0 16 16'%3E%3Cpath d='M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm1 1h10a.5.5 0 0 1 .5.5V13a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V2.5A.5.5 0 0 1 3 2z'/%3E%3C/svg%3E") 16 16, auto;
}

body.draw-line-cursor,
body.draw-box-cursor,
* {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48'%3E%3Ctext x='35' y='38' font-size='20' font-family='Arial Black, Arial, sans-serif' fill='black'%3E+%3C/text%3E%3C/svg%3E") 24 24, auto;
}
*/